body {
  margin: 0;
  padding: 0;
}

.container {
  /*background-color: skyblue;*/
  height: 100vh;
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-content: space-around;
  background-color: skyblue;
}

.navbar > li {
  margin: 10px;
  list-style: none;
  a:decoration: none;
}

#title {
  width: 500px;
  margin-left: 20px;
  margin-top: 20px;
}

#body {
  height: 500px;
  width: 500px;
  margin-left: 20px;
}

#reset {
  margin-left: 20px;
}

#submit {
  margin-left: 20px;
}

a:link {
  text-decoration: none;
}

.posts {
  font-size: 36px;
}

.posts > * {
  list-style: none;
  padding: 10px;
}


/*vote component*/
#upvote-btn {
  background-image: url(/pics/up-32.png);
  background-position: center center;
  background-color: #06ce34;
  background-repeat: no-repeat; 
  width: 100px;
}

#upvote-btn:hover{
  background-color: #07ff41;
  transition: 0.5s;
  transform: scale(1.015);
}

#downvote-btn {
  background-image: url(/pics/down-32.png); 
  background-position: center center;
  background-color: #e20f0f; 
  background-repeat: no-repeat;
  width: 100px;
  transition: 0.4s;
}

#downvote-btn:hover {
  background-color: #ff3030;
  transition: 0.5s;
  transform: scale(1.015);
}

/*allpost's component homepage*/
#allposts-post-div{
  border:.25px solid gray;
  border-radius:5px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 1000px;
  height: 100px;
}


